<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Attendance Management System</title>
    <style type="text/css">
        .container-fluid{
            background-color: blue;
        }

        td.rotate {
          height: 100px;
          white-space: nowrap;
        }

        td.rotate > div {
          transform: 
            /* Magic Numbers */
            translate(2px, 51px)
            /* 45 is really 360 - 45 */
            rotate(315deg);
          width: 30px;
        }
        td.rotate > div > span {
          border-bottom: 1px solid #ccc;
          padding: 5px 10px;
        }

    </style>
  </head>
  <body>
    <div class="container-fluid">
        <h2 style="color: white;">Hello, world!</h2>

    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <h3>Hover Rows</h3>
        <!-- <p>The .table-hover class enables a hover state on table rows:</p> -->
        <table class="table table-hover">
          <thead>
            <tr>
              <td class="rotate"><div><span>People</span></div></td>
              <td class="rotate"><div><span>2018:02:09::9:20</span></div></td>
              <td class="rotate"><div><span>2018:02:09::9:20</span></div></td>
              <td class="rotate"><div><span>2018:02:09::9:20</span></div></td>
              <td class="rotate"><div><span>2018:02:09::9:20</span></div></td>
              <td class="rotate"><div><span>2018:02:09::9:20</span></div></td>
              <td class="rotate"><div><span>2018:02:09::9:20</span></div></td>
              <td class="rotate"><div><span>2018:02:09::9:20</span></div></td>
              <td class="rotate"><div><span>2018:02:09::9:20</span></div></td>
              <td class="rotate"><div><span>2018:02:09::9:20</span></div></td>
              <td class="rotate"><div><span>2018:02:09::9:20</span></div></td>              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Person2</th>
              <!-- <td>2018:02:09::9:20</td> -->
              <td><span class="glyphicon glyphicon-ok" style="color: green"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
            </tr>
            <tr>
              <th>Person2</th>
              <td><span class="glyphicon glyphicon-ok" style="color: green"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
            </tr>
            <tr>
              <th>Person2</th>
              <td><span class="glyphicon glyphicon-ok" style="color: green"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
              <td><span class="glyphicon glyphicon-remove" style="color: red"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
